body {
    font-family: "Vibes", cursive;
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin: 15px 35px 45px 35px;
    background-image: linear-gradient(black, grey);
    color: aqua;
}
h1 {
    text-align: center;

}
#myBtn {
    width: 40%;
    height: 70px;
    font-family: "Vibes", cursive;
    font-size: 1.1rem;
    letter-spacing: 3px;
    border: 1px black solid;
    outline: 1px aqua solid;
    padding: 15px;
}
#demo, #demo2, #demo3 {
    width: 20%;
    height: 60px;
    font-family: "Vibes", cursive;
    font-size: 1.5rem;
    letter-spacing: 3px;
    border: 1px black solid;
    outline: 1px aqua solid;
    background-color: white;
    color: black;
    text-align: center;
}
iframe {
    margin: 15px 33% 15px 33%;
    border: 1px black solid;
    outline: 1px aqua solid;
}
footer {
    text-align: center;
    font-size: 1rem;
}